
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        .contacto{ 
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .derechos {
            display: flex;
            justify-content: flex-start;
        }
    }
