@use "variable" as j;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 2rem;
    background-color: j.$fondo;
    h1{
        font-size: 100px;
        font-family: cursive;
        color: j.$letra;
    }
    .logo {
        height: 150px;
        width: auto;
    }
    .navegador{
        .lista{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            .espacios{
                margin: 10px;
                font-size: 20px;
                text-decoration: none;
                color: j.$letra;
            }
        }
        
    }
    @include j.compu {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        h1{
            font-size: 70px;
            text-align: center;
        }
        .logo {
            height: 110px;
        }
        .navegador{
            .lista{
                flex-direction: row;
                align-items: center;
                .espacios{
                    font-size: 18px;
                }
            }
        }
    }
    @include j.tablet {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h1{
            font-size: 60px;
            text-align: center;
        }
        .logo {
            height: 100px;
        }
        .navegador{
            .lista{
                flex-direction: row;
                align-items: center;
                .espacios{
                    font-size: 16px;
                }
            }
        }
    }
    @include j.mobile {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 1rem;
        h1 {
            font-size: 40px;
                text-align: center;
        }
        .logo {
            height: 70px;
        }
        .navegador {
            .lista {
                flex-direction: column;
                align-items: end;
                justify-content: end;
            .espacios {
                font-size: 14px;
                margin: 5px 0;
                }
            }
        }
    }
}