@use "variable" as j;

header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    h1{
        font-size: 100px;
        font-family: cursive;
        color: j.$letra;
    }
    .logo {
        height: 150px;
        width: auto;
    }
}