@use "variable" as j;

body {
    .home-p {
        display: grid;
        grid-template-areas: "h1 h2";
        gap: 25px;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 25px;
        .home h1 {
            grid-area: h1;
        }
        .home h2 {
            grid-area: h2;
        }
        .home {
            height: auto;
            width: 300px;
        }
    }
    .home-c{
        @extend .home-p;
        grid-template-areas: "h3 h4";
        .home v1{
            grid-area: h3;
        }
        .home v2{
            grid-area: h4;
        }
        .home {
            height: auto;
            width: 300px;
        }
    }
    .subtitulos{
        font-size: j.$subtitulos;
        color: j.$gray;
        font-family: cursive;
        background-color: j.$letra;
    }
    @include j.tablet {
        .home-p {
        grid-template-areas: 
        "h1"
        "h2";
        }
    .home-c{
        grid-template-areas: 
        "h3" 
        "h4";
        }
    }
    .subtitulos{
        font-size: 40px;
        color: j.$gray;
        font-family: cursive;
        background-color: j.$letra;
    }
}