@use "variable" as j;

body{
    .titulos {
        display: flex;
        justify-content: space-between;
        color: j.$letra;
        font-family: Arial, Helvetica, sans-serif;
        font-size: j.$titulos;
        margin: 2rem 1rem;
        .boton{
            @include j.boton-style (50px, 40vw, j.$letra, j.$fondo, cursive, 20px)
        }
    }
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        gap: 15px 30px;
        max-width: fit-content;
        align-items: center;
        margin: 25px auto;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            box-shadow: 0 2px 5px rgba(1, 0 ,0);
            img {
                width: 300px;
                height: auto;
            }
        }
    }
    @include j.compu{
        .contenedor{
            grid-template-columns: repeat(2, 1fr) ;
        }
    }
    @include j.tablet{
        .contenedor{
            grid-template-columns: repeat(1, 1fr) ;
            .card {
                img {
                    width: 300px;
                }
            }
        }
    }
}

