@use "variable" as j;

.home-contacto{
    display: flex;
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 15px;
        gap: 10px;
        .boton{
            @include j.boton-style (40px, 35vw,j.$gray, j.$letra, cursive, 20px)
        }
    }
    .video-c{
        display: flex;
        justify-content: flex-end;
        .video{
            width: 1000px;
            height: auto;
            margin: 20px;
        }
    }
}

.mapa-web{
    .nosotros {
        margin: 50px 30px;
    }
    .mapa-c{
        display: flex;
        justify-content: center;
        margin: 50px;
    }
}