* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #eaeded;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(-20px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes vibrar {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding: 2rem;
  background-color: #BBFBFC;
}
header h1 {
  font-size: 100px;
  font-family: cursive;
  color: #030303;
}
header .logo {
  height: 150px;
  width: auto;
}
header .navegador .lista {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
header .navegador .lista .espacios {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #030303;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 50px;
  }
  header .logo {
    height: 75px;
  }
  header .navegador .lista .espacios {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  header .navegador .lista .espacios {
    margin: 5px;
    font-size: 10px;
  }
}

body .home-p, body .home-c {
  display: grid;
  grid-template-areas: "h1 h2";
  gap: 25px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 25px;
}
body .home-p .home h1, body .home-c .home h1 {
  grid-area: h1;
}
body .home-p .home h2, body .home-c .home h2 {
  grid-area: h2;
}
body .home-p .home, body .home-c .home {
  height: auto;
  width: 300px;
}
body .home-p .home:hover, body .home-c .home:hover {
  animation: vibrar 0.5s infinite;
}
body .home-c {
  grid-template-areas: "h3 h4";
}
body .home-c .home v1 {
  grid-area: h3;
}
body .home-c .home v2 {
  grid-area: h4;
}
body .home-c .home {
  height: auto;
  width: 300px;
}
body .subtitulos {
  font-size: 50px;
  color: #eaeded;
  font-family: cursive;
  background-color: #030303;
  animation: fadeIn 3s ease-in-out both;
}
@media (max-width: 800px) {
  body .home-p, body .home-c {
    grid-template-areas: "h1" "h2";
  }
  body .home-c {
    grid-template-areas: "h3" "h4";
  }
}
body .subtitulos {
  font-size: 40px;
  color: #eaeded;
  font-family: cursive;
  background-color: #030303;
}

body .titulos {
  display: flex;
  justify-content: space-between;
  color: #030303;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  margin: 2rem 1rem;
}
body .titulos .boton {
  height: 50px;
  width: 40vw;
  color: #030303;
  background-color: #BBFBFC;
  font-family: cursive;
  font-size: 20px;
}
body .contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 30px;
  max-width: fit-content;
  align-items: center;
  margin: 25px auto;
}
body .contenedor .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 2px 5px rgb(1, 0, 0);
}
body .contenedor .card img {
  width: 300px;
  height: auto;
}
@media (max-width: 1400px) {
  body .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  body .contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
  body .contenedor .card img {
    width: 300px;
  }
}

body .mapa-web .nosotros {
  margin: 50px 30px;
}
body .mapa-web .mapa-c {
  display: flex;
  justify-content: center;
  margin: 50px;
}

body .home-contacto {
  display: flex;
}
body .home-contacto .formulario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  gap: 10px;
}
body .home-contacto .formulario .boton {
  height: 40px;
  width: 35vw;
  color: #030303;
  background-color: #BBFBFC;
  font-family: cursive;
  font-size: 20px;
}
body .home-contacto .video-c {
  display: flex;
  justify-content: flex-end;
}
body .home-contacto .video-c .video {
  width: 1000px;
  height: auto;
  margin: 20px;
}
@media (max-width: 1400px) {
  body .home-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .home-contacto .video-c {
    display: flex;
    flex-direction: column;
  }
  body .home-contacto .video-c .video {
    width: 500px;
  }
}
@media (max-width: 425px) {
  body .home-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .home-contacto .video-c {
    display: flex;
    flex-direction: column;
  }
  body .home-contacto .video-c .video {
    width: 400px;
  }
}

.pie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 25px;
  background-color: #030303;
  color: #eaeded;
}
.pie .derechos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.pie .contacto {
  display: flex;
  justify-content: flex-start;
}
.pie .contacto .redes {
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 80px;
}

/*# sourceMappingURL=style.css.map */
