*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaeded;
}
header h1 { 
    font-size: 100px; 
    font-family: cursive; 
    background:linear-gradient(127deg, rgb(202, 202, 202), #3f87a6  )
}
    .header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    background: linear-gradient( #eaeded , #3f87a6 );
    }
.logo {
    height: 150px;
    width: auto;
}

.home{
    height: auto;
    width: 300px;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 15px 30px;
    max-width: fit-content;
    margin: 0 auto;
}
.contenedor .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(1, 0 ,0);
}
.contenedor .card img {
    width: 300px;
    height: auto;
}
.navegador{
    background-color: #808b96;
}
.espacios {
    color: #f1948a;
    background-color: #808b96;
}
.boton {
    height: 2vh;
    width: 10vw;
    color: aliceblue;
    background-color: #69b9ff;
    font-family: 'Times New Roman', Times, serif;
}

.productos {
    height: 400px;
    width: 400px;
}
.nosotros {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.video {
    height: 40vh;
    width: 80vw;
}
.mapa {
    height: 40vh;
    width: 80vw;
}
.pie{
    display: flex;
    align-self: flex-start;
}
.redes {
    display: flex;
    align-self: flex-end;
    justify-content: end;
    height: 30px;
    width: 30px;
    border-radius: 80px;
}